@media (max-width : 768px){
  .container.assign-safety-inspection-container{
    width: 100% !important;
    background-color:#fff;
    border: 0px solid grey;
    box-shadow: none;
  }
  .assign-safety-inspection-container .ui-dropdown {
  width:100% !important;
  height: 40px;
 }
  .tab-container {
    position:fixed;
    z-index: 1000 !important;
    background-color: #ffffff;
    margin-top: -47px !important;
  }
}
@media (max-width: 414px) {
  .container-fluid.tab-container {
    margin-top: -48px !important;
  }
}
.assigned{
  color: black;
  font-size: 15px;
  font-weight: 500;
}
.tab-section {
  color: #fff !important;
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-bottom-color: var(--main-bg-color) !important;
  border-top-color: var(--main-bg-color) !important;
  background-color: var(--main-bg-color) !important;
}
.tab-section .col-6 {
  text-align: center;
  vertical-align: middle !important;
  font-weight: 500;
  padding: 7px 15px 7px 15px !important;
}
.activeTab {
  background-color: #fff !important;
  color: #000 !important;
}
/* For the iPhoneX portrait view */
@media (max-width: 380px) and (min-height: 812px){
  .container-fluid.tab-container {
    margin-top: -48px !important;
  }
}
/* For the iphone6/7/8 portrait view */
@media (max-width: 380px) and (max-height: 670px){
  .container-fluid.tab-container {
    margin-top: -48px !important;
  }
}