
.template-form-input {
  resize: none;
  background: transparent !important;
  background-color: whitesmoke !important;
  border: 1px solid lightgrey !important;
  /* color: grey; */
  /* border-radius: 3px; */
  width: 100% !important;
  /* padding-left:10px;
  margin-top :20px; */
}
.card-template .ui-dropdown label.ui-dropdown-label  {
  background-color: whitesmoke;
}
.card-template .ui-dropdown .ui-dropdown-trigger{
  background-color: whitesmoke;
}
.card-link a{  
  color: #434343;
  text-decoration: none;
}
.card-link a:before{
  content:' ';
  position: absolute;
  right: 10px;
  top: 10px;
  width: 9px;
  height: 9px;
  transform: rotate(135deg);
  font-size: 20px;
  border-bottom: solid 2px #a9a9a9;
  border-left: solid 2px #a9a9a9;
}
.card-link.collapsed a:before {
  transform: rotate(-45deg);
  font-size:20px;
}
.card-template .card-header {
  background-color: #ffffff !important;
  border: 0px !important;
}