<app-top-navbar *ngIf="mobileView" [headerDetails]="navbarDetails" (leftheaderClicked)="onNavigate()"></app-top-navbar>
<div id="content">
  <div class="container changepassword-container page-container">
    <div class="row" *ngIf="token">
      <div class="col-12">
        <img class="responsive center" src="./assets/images/app_logo.png" height="90%" width="40%" />
      </div>
    </div>
    <div class="row">
      <div class="col-12" *ngIf="!token">
        <h5 *ngIf="!mobileView">Change Password</h5>
      </div>
      <div class="col-12" *ngIf="token">
        <h5>Configure Your Password</h5>
      </div>
    </div>
    <div class="row" *ngIf="!token && !configurePasswordView">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <form class="form-group" [formGroup]="changePasswordForm">
          <div class="row" *ngIf="!token">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <label class="label-text">Old Password</label>
              <input [type]="show?.showOldPassword ? 'text' : 'password'" pInputText formControlName="oldpassword"
                class="form-control" appInput />
              <i class="material-icons password-icon" (click)="changeInputType('showOldPassword')"
                *ngIf="!show?.showOldPassword">visibility_off</i>
              <i class="material-icons password-icon" (click)="changeInputType('showOldPassword')"
                *ngIf="show?.showOldPassword">visibility</i>
              <span class="error-message"
                *ngIf="changePasswordForm?.get('oldpassword')?.hasError('required')  && changePasswordForm?.get('oldpassword')?.touched">
                {{messages?.FIELD_REQUIRED}}</span>
              <span class="error-message"
                *ngIf="!changePasswordForm?.get('oldpassword')?.hasError('required') && 
                changePasswordForm?.get('oldpassword')?.hasError('minlength') && changePasswordForm?.get('oldpassword')?.touched">
                {{messages?.PASSWORD_MAXLENGTH}}
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <label class="label-text">New Password</label>
              <input [type]="show?.showNewPassword ? 'text' : 'password'" pInputText formControlName="newpassword"
                class="form-control" appInput />
              <i class="material-icons password-icon" (click)="changeInputType('showNewPassword')"
                *ngIf="!show?.showNewPassword">visibility_off</i>
              <i class="material-icons password-icon" (click)="changeInputType('showNewPassword')"
                *ngIf="show?.showNewPassword">visibility</i>
              <span class="error-message"
                *ngIf="changePasswordForm?.get('newpassword')?.hasError('required')  && changePasswordForm?.get('newpassword')?.touched">
                {{messages?.FIELD_REQUIRED}}</span>
              <span class="error-message"
                *ngIf="!changePasswordForm?.get('newpassword')?.hasError('required') && 
                changePasswordForm?.get('newpassword')?.hasError('minlength') && changePasswordForm?.get('newpassword')?.touched">
                {{messages?.PASSWORD_MAXLENGTH}}
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <label class="label-text">Confirm Password</label>
              <input [type]="show?.showConfirmPassword ? 'text' : 'password'" pInputText
                formControlName="confirmpassword" class="form-control" appInput />
              <i class="material-icons password-icon" (click)="changeInputType('showConfirmPassword')"
                *ngIf="!show?.showConfirmPassword">visibility_off</i>
              <i class="material-icons password-icon" (click)="changeInputType('showConfirmPassword')"
                *ngIf="show?.showConfirmPassword">visibility</i>
              <span class="error-message"
                *ngIf="changePasswordForm?.get('confirmpassword')?.hasError('required')  && changePasswordForm?.get('confirmpassword')?.touched">
                {{messages?.FIELD_REQUIRED}}</span>
              <span class="error-message"
                *ngIf="!changePasswordForm?.get('confirmpassword')?.hasError('required') && 
                 changePasswordForm?.get('confirmpassword')?.hasError('minlength') && changePasswordForm?.get('confirmpassword')?.touched">
                {{messages?.PASSWORD_MAXLENGTH}}
              </span>
            </div>
          </div>
          <div class="row" *ngIf="errorMsg">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <p class="error-message text-center">{{errorMsg}}</p>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <button type="submit" *ngIf="!token" class="btn btn-primary" [disabled]="!changePasswordForm?.valid"
                (click)="changePassword()">Change
                Password
              </button>&nbsp;
              <button type="button" *ngIf="!mobileView" class="btn btn-primary" (click)="resetForm()">Cancel</button>

            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- configure Password Form -->
    <div class="row" *ngIf="token && configurePasswordView">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <form class="form-group" [formGroup]="configurePasswordForm">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <label class="label-text">New Password</label>
              <input [type]="show?.showOldPassword ? 'text' : 'password'" pInputText formControlName="newpassword"
                class="form-control" />
              <i class="material-icons password-icon" (click)="changeInputType('showOldPassword')"
                *ngIf="!show?.showOldPassword">visibility_off</i>
              <i class="material-icons password-icon" (click)="changeInputType('showOldPassword')"
                *ngIf="show?.showOldPassword">visibility</i>
              <span class="error-message"
                *ngIf="configurePasswordForm?.get('newpassword')?.hasError('required')  && configurePasswordForm?.get('newpassword')?.touched">
                {{messages?.FIELD_REQUIRED}}</span>
              <span class="error-message"
                *ngIf="!configurePasswordForm?.get('newpassword')?.hasError('required') && 
                configurePasswordForm?.get('newpassword')?.hasError('minlength') && configurePasswordForm?.get('newpassword')?.touched">
                {{messages?.PASSWORD_MAXLENGTH}}
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <label class="label-text">Confirm Password</label>
              <input [type]="show?.showNewPassword ? 'text' : 'password'" pInputText formControlName="confirmpassword"
                class="form-control" />
              <i class="material-icons password-icon" (click)="changeInputType('showNewPassword')"
                *ngIf="!show?.showNewPassword">visibility_off</i>
              <i class="material-icons password-icon" (click)="changeInputType('showNewPassword')"
                *ngIf="show?.showNewPassword">visibility</i>
              <span class="error-message"
                *ngIf="configurePasswordForm?.get('confirmpassword')?.hasError('required')  && configurePasswordForm?.get('confirmpassword')?.touched">
                {{messages?.FIELD_REQUIRED}}</span>
              <span class="error-message"
                *ngIf="!configurePasswordForm?.get('confirmpassword')?.hasError('required') && 
                configurePasswordForm?.get('confirmpassword')?.hasError('minlength') && configurePasswordForm?.get('confirmpassword')?.touched">
                {{messages?.PASSWORD_MAXLENGTH}}
              </span>
            </div>
          </div>
          <div class="row" *ngIf="errorMsg">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <p class="error-message text-center">{{errorMsg}}</p>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <button type="submit" class="btn btn-primary" [disabled]="!configurePasswordForm?.valid"
                (click)="configurePassword()">Save
              </button>&nbsp;
              <button type="button" class="btn btn-primary" (click)="resetForm()">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row" *ngIf="token && !configurePasswordView">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h4>Password configuration token has expired or invalid.</h4>
      </div>
    </div>
  </div>
</div>
<app-dialog-box *ngIf="display" [dialogBoxDetails]="dialogBoxDetails" (dialogBoxClosed)="dialogBoxClose($event)">
</app-dialog-box>